@import url("header.css");
@import url("footer.css");
@import url("content.css");
@import url("sidebar.css");


body {
    margin : 0;
    padding : 0;
    display : grid;
    grid-template-rows: 50px auto auto;
    grid-template-columns: repeat(7, 1fr);
}



