@import url("header.css");
@import url("footer.css");
@import url("content.css");
@import url("sidebar.css");


body {
    margin : 0;
    padding : 0;
    display : grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 50px auto auto;
    background-color: beige;
    grid-column-gap : 15px;
    grid-row-gap  : 30px;
}



