.single-page {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /*border : 1px solid red;*/
    background-color: white;
    padding : 20px;
    margin : 10px;
}


.single-page .post-title {
    text-align: center;
}

.sidebar .author-info {

    margin-bottom: 20px;
    background-color: white;
}
.sidebar .author-info .author {
    padding : 20px 0 0 10px;
}
.sidebar .author-info ul {
    list-style: none;
    margin : 0;
    padding : 0;
}

.sidebar .author-info ul li {
    margin-left : 10px;
    display : block;
    padding : 15px 0 15px 0;
    border-bottom : 1px solid #e0e0e0;
    text-decoration: none;
}

.sidebar .author-info img {

    display : block;
    height : 100%;
    width : 50%;

}

.sidebar .author-info .short-bio {

    margin-left: 10px;
}

@media (max-width : 920px) {

    .single-page {
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-start: 2;
        grid-row-end: 3;
        /*border : 1px solid red;*/
        background-color: white;
        padding : 20px;
    }

}
